<% amount = 20 unless defined? amount %>
<% if  (start - amount >= 0 || start + amount <= size rescue false) %>
<p class='pagination'>
  <% if start - amount >= 0 %>
    <a href="<%= current_page %>?start=<%= start - amount %>" class='less'>&laquo; less</a>
  <% end %>
  <% if start + amount <= size %>
    <a href="<%= current_page %>?start=<%= start + amount %>" class='more'>more &raquo;</a>
  <% end %>
</p>
<% end %>